#header {
    /* background: url(../../Assets/Images/mainCover.jpg) no-repeat center center; */
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

    #header .overlay {
        background-color: rgba(3, 3, 3, 0.8);
        /* background-color: rgba(275,275,275,0.9); */
        min-height: 700px;
    }

    #header h1 {
        line-height: 60px;
        font-size: 45px;
        font-weight: 900;
        padding-top: 180px;
        padding-bottom: 35px;
        color: green;
    }


    #header h4 {
        line-height: 30px;
        font-size: 12px;
        padding-bottom: 40px;
        text-transform: uppercase;
    }