.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.testimonial-banner {
  background: url(./Assets/Images/mainCover1.jpg) no-repeat center center;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  background-attachment: fixed;
}

.testimonial-banner .overlay {
  background-color: rgba(3, 3, 3, 0.9);
  /* background-color: rgba(275, 275, 275, 0.98); */
  color: white;
  min-height: 500px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
